$themecolor: #ededed;

$color777: #777;
$color666: #666;
$coloreccc: #ccc;
$colorebbb: #bbb;
$color0e83d1: #0e83d1;
$color6ab3cc: #6ab3cc;
$color80c8f8: #80c8f8;
$fw400: 400;
$fw600: 600;
$ffYahei: 'Miscrosoft YaHei';
$ffLato: Lato;
$ffVERDANA: VERDANA;
