@font-face {
  font-family: 'iconfont'; /* Project id 3020647 */
  src: url('iconfont.woff2?t=1639666297179') format('woff2'),
    url('iconfont.woff?t=1639666297179') format('woff'),
    url('iconfont.ttf?t=1639666297179') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinle1:before {
  content: '\e650';
}

.icon-dizhi:before {
  content: '\e70a';
}

.icon-geren:before {
  content: '\e70d';
}

.icon-laji:before {
  content: '\e712';
}

.icon-pingjia:before {
  content: '\e716';
}

.icon-shouye:before {
  content: '\e718';
}

.icon-tongzhi:before {
  content: '\e719';
}

.icon-wenjian:before {
  content: '\e71a';
}

.icon-xiazai:before {
  content: '\e71c';
}

.icon-zhaopian:before {
  content: '\e720';
}

.icon-zuji:before {
  content: '\e721';
}

.icon-xiaoxi:before {
  content: '\e726';
}

.icon-guanliyuan:before {
  content: '\e761';
}

.icon-fenlei1:before {
  content: '\e658';
}

.icon-24gf-tags:before {
  content: '\e885';
}

.icon-rili:before {
  content: '\e61c';
}

.icon-guankan_guankan:before {
  content: '\e63f';
}

.icon-weixin:before {
  content: '\e615';
}

.icon-qq:before {
  content: '\e60d';
}

.icon-github:before {
  content: '\e628';
}
